/* To avoid double padding application due to the BT bootstrap CSS */

.yamm .container {
    padding-left: 0px;
    padding-right: 0px;
}

#navbar {
    ul.nav {
        float: left;
    }
}

@media (min-width: 768px) {
    #navbar {
        ul.nav {
            float: left !important;
        }
    }
}
